<div class="column">
  <nav class="panel">
    <p class="panel-heading">Latest Gossips</p>
  </nav>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <p>
          <% if @posts.size > 0 %>
            <% if user_signed_in? %>
              <strong><%= @posts.last.user.name %></strong><br/>
              <small><em>@<%= @posts.last.user.username %></em></small>
            <% else %>  
              <strong><em>Anonymous</em></strong><br/>
            <% end %>
            <p><%= @posts.last.body %></p>
          <% else %>
          <strong> We haven't heard anything yet.</strong>
          <% end %>
        </p>
      </div>
    </article>
  </div>
</div>