<div class="column">
  <nav class="panel">
    <p class="panel-heading">Top Gossip</p>
  </nav>
  <% @hash = Post.group(:user_id).count %>
  <% @top_gossip = Array.new %>
  <% array = @hash.to_a %>
  <% array.each do |pair| %>
    <% @top_gossip.push(pair.reverse) %>
  <% end %>
  <% @top_gossip = @top_gossip.sort.reverse %>
  <% @users = User.all %>
  <% @top_gossip.each do |gossip| %>
    <% @users.each do |user| %>
      <% next if user.id != gossip[1] %>
      <div class="panel-block">
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <img src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
          </div>
          <div class="media-content">
            <p>
              <% if user_signed_in? %>
                <strong><%= user.name %></strong>
                <small><em>@<%= user.username %></em></small>
              <% else %>
                <strong><em>Anonymous</em></strong>
              <% end %>
            </p>
            <p>
              <strong><%= gossip[0] %></strong>
              <% if gossip[0] > 1 %>
                Gossips
              <% else %>
                Gossip
              <% end %>
            </p>
          </div>
        </article>
      </div>
    <% end %>
  <% end %>
</div>