<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'latest_gossips' %>
      <%= render 'feed' %>
      <%= render 'top_gossip' %>
    </div>
  </div>
</section>